
/* banner-portions */
body{
    font-family: 'Open Sans', sans-serif;
}

.banner{background-color: #e79dd4;
    padding: 30px 30px 0px 150px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}
.img{
    width: 400px;
    
}
.banner-content{
   max-width: 500px;
}

.banner-title{
    font-size: 60px;
    font-weight: 700;
    margin-top: 5px;
    margin-bottom: 0px;font-family: Open Sans;text-emphasis-color: 
    #757575;
}
.text{
    margin-top: 20px;
    color: #757575;
    font-family: Open Sans;
    font-weight: 400;
    line-height: 30px;
    font-size: 20px;;

}
.btn{ background-color: #FD6E0A;
    border: 0;
    color: #f0e5ef;
    font-size: 20px;
    font-weight: 700;
    padding: 10px 25px;
    border-radius: 5px;}

    
    /* flower-img-portions */
  
    .Featured-flower{
        padding: 30px 30px  30px;
        font-family: Open Sans;
        
        margin: 30px 0px 30px;
       
    }
    .section-title{color:  #e79dd4;
        text-align: center;
        font-family: Open Sans;
        font-size: 40px;
        font-style: normal;
        font-weight: 800;
        line-height: normal;}

    .section-discription{display: flex;
        text-align: center;
        flex-direction: column;
        flex-shrink: 0;color:  #e79dd4;
        text-align: center;
        font-family: Lato;
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: 30px;}
    .flower-title{
        background:  #e79dd4; border-radius: 300px 300px 0px 0px;
        font-size:45px;}
        
        .img{background-color: #e79dd4;
          
            display: flex;
            align-items: center;
            justify-content:space-between;
            
        }
   
        .info-description{text-align:center;padding:0px;}
        /* Featured-flower-container */
        .Featured-flower-container{padding-bottom:30px 30px 30px;display: flex; justify-content: space-between;}
            
        .Featured-flower{
            text-align: center;
            text-size-adjust: bold;
        }
        
            /* Featured-flower-delivery */
            .Featured-flower-delivery{
                display: flex;padding-bottom:30px 30px 30px;  background-color:  #e79dd4;justify-content:space-between;}
            .flower-delivery{border-radius: 10px;
                text-align: center;font-family: Open Sans;
                text-size-adjust: bold;
                padding: 20px 10px 0px; 
                margin: 20px;padding: 30px 30px  30px;
                
            /* up to 25% off */
           
           
           

/* footer */
              footer{background-color: black;}